<h1>Lists#index</h1>

<div class="container">
<ul class="list-group">
    <% @lists.each do |list| %>
    <li>
      <div>
        <% if list.photo.attached? %>
          <%= cl_image_tag list.photo.key, height: 400, width: 400, crop: :fill %>
        <% end %>
        <%= link_to list_path(list), style: 'text-decoration: none' do %>
          <%= list.name %>
        <% end %>
      </div>
      <div><%= link_to "X", list_path(list), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?'} %></div>
    </li>
    <% end %>
  </ul>
  <p><br><%= link_to "Create a list", new_list_path %></p>
</div>
